//- doctype strict
//- html(xmlns='http://www.w3.org/1999/xhtml')
//-   head
//-     meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
//-     title ForS24
//-     meta(name='keywords', content='')
//-     meta(name='description', content='')
//-     link(href='http://fonts.googleapis.com/css?family=Chivo:400,900', rel='stylesheet')
//-     link(rel='stylesheet', href='/stylesheets/default.css')
//-     link(rel='stylesheet', href='/stylesheets/fonts.css')
//-   body
//-     #wrapper
//-       #header-wrapper
//-         #header.container
//-           #logo
//-             h1
//-               a(href='/') ForS
//-             h1#two
//-               a(href='/') 2
//-             h1#four
//-               a(href='/') 4
//-       #menu-wrapper
//-         #menu.container
//-           ul
//-             li
//-               a(href='/event') 행사상품
//-             li
//-               a(href='/price') 장바구니
//-             li
//-               a(href='/search') 편의점 위치
//-             li
//-               a(href='/explain') 홈페이지 설명
//-       // end #menu
//-       // <div id="banner"></div>
//-         h1 ForS 24 소개 
//-       #explainbar
//-         img(src='images/explain.png' width="560" height="150")

//-       #explainbar2
//-         p 쉽게 소비하자! 현명한 소비자를 위한 현명한 선택
         
        
//-         // 로고
//-       #sidebar
//-         // 줄 바꾸기
//-         p 할인 가능한 멤버십이나 카드 정보를 제공하고, 그에 따른 할인율을 제공하여 쉽게 가격비교가
//-         p 가능한 신개념 웹사이트입니다.
