doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title ForS24
    meta(name='keywords', content='')
    meta(name='description', content='')
    link(href='http://fonts.googleapis.com/css?family=Chivo:400,900', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
  body
    #wrapper
      #header-wrapper
        #header.container
          #logo
            h1
              a(href='/') ForS
            h1#two
              a(href='/') 2
            h1#four
              a(href='/') 4
      #menu-wrapper
        #menu.container
          ul
            li
              a(href='/event') 행사상품
            li
              a(href='/price') 장바구니
            li
              a(href='/search') 편의점 위치
            li
              a(href='/explain') 홈페이지 설명
    #search
      img(src='images/rabbit.png', alt='rabbit')
      form(action='\locateResult', method='get')
        input(type='text', name='searchAddress')
        button(onclick='searchLocation();') 검색