html, body {
	height: 100%;
 }
 
 body {
	margin: 0px;
	padding: 0px;
 font-family: 'Chivo', sans-serif; 
	/* font-family: '12롯데마트드림Bold', sans-serif; */
	/* font-family: '배달의민족 주아', sans-serif;    */
	font-size: 12pt;
	font-weight: 300;
	/* 메인글씨 - 검정색*/
	color: #363636;
 }
 
 h1 {
	font-family: 'Chivo', sans-serif;
 }
 h1, h2, h3 {
	margin: 0;
	padding: 0;
 }
 
 p, ol, ul {
	margin-top: 0px;
 }
 
 p {
	line-height: 190%;
 }
 
 strong {
 }
 
 a {
	/* main.html- 로그인 글씨 -검정색*/
	color: #171717;
 }
 
 a:hover {
	text-decoration: none;
 }
 
 a img {
	border: none;
 }
 
	.image
	{
		 display: inline-block;
	}
 
		 .image img
		 {
			 display: block;
			 width: 100%;
		 }
 
	.image-full
	{
		 display: block;
		 width: 100%;
		 margin: 0 0 2em 0;
	}
 
	.image-left
	{
		 float: left;
		 margin: 0 2em 2em 0;
	}
 
	.image-centered
	{
		 display: block;
		 margin: 0 0 2em 0;
	}
 
		 .image-centered img
		 {
			 margin: 0 auto;
			 width: auto;
		 }
 
 hr {
	display: none;
 }
 
 
 /*********************************************************************************/
 /* List Styles                                                                   */
 /*********************************************************************************/
 
	ul.style1
	{
		 margin: 0;
		 padding: 0;
		 list-style: none;
	}
 
	ul.style1 li
	{
		 border-top: solid 1px #E5E5E5;
		 padding: 0.80em 0;
	}
 
	ul.style1 li:first-child
	{
		 border-top: 0;
		 padding-top: 0;
	}
 
	ul.style2
	{
		 margin: 0;
		 padding: 0;
		 list-style: none;
	}
 
	ul.style2 li
	{
		 border-top: solid 1px #E5E5E5;
		 padding: 0.80em 0;
	}
 
	ul.style2 li:first-child
	{
		 border-top: 0;
		 padding-top: 0;
	}
 
 /*********************************************************************************/
 /* Social Icon Styles                                                            */
 /*********************************************************************************/
 
	ul.contact
	{
		 margin: 0;
		 padding: 1.5em 0em 2.5em 0em;
		 list-style: none;
	}
 
	ul.contact li
	{
		 display: inline-block;
		 padding: 0em 0.30em;
		 font-size: 1em;
	}
 
	ul.contact li span
	{
		 display: none;
		 margin: 0;
		 padding: 0;
	}
 
	ul.contact li a
	{
		 color: #FFF;
	}
 
	ul.contact li a:before
	{
		 display: inline-block;
		 background: #3f3f3f;
		 width: 40px;
		 height: 40px;
		 line-height: 40px;
		 border-radius: 20px;
		 text-align: center;
		 color: #FFFFFF;
	}
 
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;   }
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }
 
 
 /*********************************************************************************/
 /* Heading Titles                                                                */
 /*********************************************************************************/
 
	.title
	{
		 margin-bottom: 3em;
		 text-transform: uppercase;
	}
 
	.title h2
	{
		 font-weight: 400;
		 font-size: 2em;
		 color: #B10058;
 
	}
 
	.title .byline
	{
		 letter-spacing: 0.15em;
		 text-transform: uppercase;
		 font-weight: 400;
		 font-size: 0.90em;
		 color: #6F6F6F;
	}
 
 /** WRAPPER */
 
 #wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
 }
 
 #footer-wrapper
 {
	background: #0F0F0F;
 }
 
 .container {
	width: 1200px;
	margin: 0px auto;
 }
 
 .clearfix {
	clear: both;
 }
 
 
 /*********************************************************************************/
 /* Wrappers                                                                      */
 /*********************************************************************************/
 
 #header-wrapper
 {
	overflow: hidden;
	background-size: 100%;
	padding: 0.1em 0em 0.05em 0em;
 }
 
 
 /*********************************************************************************/
 /* Header                                                                        */
 /*********************************************************************************/
 
	#header
	{
		 position: relative;
		 overflow: hidden;
		 text-align: center;
	}
 
 /*********************************************************************************/
 /* Logo                                                                          */
 /*********************************************************************************/
 
	#logo
	{
		 width: 500px;
		 height: 100px;
		 margin: 0 auto;
		 padding: 0.5em 0em;
	}
 
	#logo h1
	{
		 letter-spacing: 0.10em;
		 font-size: 5em;
		 font-family: 'Chivo', sans-serif; 
		 /* font-family: '배달의민족 주아'; */
		 font-weight: bold;
	}

		 #logo a
		 {
		 text-decoration: none;
		 float : left;
		 color: rgb(0,84,255);
		 }

	#logo #two a
	{
		 text-decoration: none;
		 float: left;
		 color: rgb(255,94,0);
	}
	#logo #four a
	{
		 text-decoration: none;
		 float: left;
		 color: rgb(255,187,0);
	}
 
	#logo{
		 overflow : auto;
		 padding-left : 250px;
	}
 
 
 /*********************************************************************************/
 /* Banner                                                                        */
 /*********************************************************************************/
 
	#banner
	{
		 overflow: hidden;
		 width: 1000px;
		 height: 330px;
		 background: url(images/pic01.jpg) no-repeat center;
		 background-size: cover;
		 float: left;
	}
 
	#banner .image
	{
	}
 
 
 /** MENU */
 
 #menu-wrapper
 {
 /*   background: #B10058;*/
 /*메뉴바 색상-하늘색
	background:#B2CCFF*/
	background:#fbd14b

 }
 
 #menu {
	overflow: hidden;
	height: 50px;
 }
 
 #menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
 }
 
 #menu li {
	display: inline-block;
 }
 
 #menu a {
	display: block;
	letter-spacing: 4px;
	padding: 10px 15px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	border: none;
	color: #FFF;
	margin-left : 30px;
	margin-right : 30px;
	margin-bottom : 30px;
 }
 
	/*********************************************************************************/
 /* eventBanner Style                                                               */
 /*********************************************************************************/
#recommendedProduct p{
	 font-size: 4em;
	 font-family: 'Chivo', sans-serif; 
	/* font-family: 'THE홍차왕자 네모'; */
	font-weight: bold;
	display: inline;
}

#recommendedProduct #exp1 {
	color: rgb(0,84,255);
	padding-left : 4em;

}
#recommendedProduct #two {
	color: rgb(255,94,0);

} 
#recommendedProduct #four {
	color: rgb(255,187,0);

}
#recommendedProduct2 p{
	font-family: 'Chivo', sans-serif; 
	/* font-family: 'THE홍차왕자 네모'; */
	padding-left : 7em;
	display: inline;
	font-weight: bold;

 }
	/*********************************************************************************/
 /* eventBanner Style                                                               */
 /*********************************************************************************/
#recommendedProduct p{
	font-size: 4em;
	font-family: 'Chivo', sans-serif; 
	/* font-family: 'THE홍차왕자 네모'; */
	font-weight: bold;
	display: inline;
}

#recommendedProduct #exp1 {
	color: rgb(0,84,255);
	padding-left : 4em;

}
#recommendedProduct #two {
	color: rgb(255,94,0);

} 
#recommendedProduct #four {
	color: rgb(255,187,0);

}
#recommendedProduct2 p{
	/* font-family: 'THE홍차왕자 네모'; */
	font-family: 'Chivo', sans-serif; 
	padding-left : 7em;
	display: inline;
	font-weight: bold;

}
 
/* #exp1{
	/*font-family: '배달의민족 주아';
	font-size: 2em;
	margin : 0;
	padding-left : 3.5em;
	padding-top : 0.4em;
	color: red;
 }*/
 #exp2{
	font-size: 2em;
	margin : 0;
	padding-left : 5em;
	padding-bottom: 0.3em;
 }
 


 #logo a
 {
 text-decoration: none;
 float : left;
 color: rgb(0,84,255);
 }
/*
#logo #two a
{
	text-decoration: none;
	float: left;
	color: rgb(255,94,0);
}
#logo #four a
{
	text-decoration: none;
	float: left;
	color: rgb(255,187,0);
}*/
 
 /** PAGE */
 
 /* #page
 {
	position: relative;
	overflow: hidden;
	padding: 6em 0em 5em 0em;
 } */
 
 /** CONTENT */
 /*
 #content
 {
	float: right;
	width: 790px;
 } */
 
 /*********************************************************************************/
 /* eventBanner Style                                                               */
 /*********************************************************************************/
 #eventBanner1
 {
	overflow: hidden;
	height: 100px;
 }
 
 
 #eventBanner1 li
 {
	list-style: none;
	display : inline-block;
	text-align: center;
	width: 150px;
	height: 50px;
	background-color: #fffcf0;
	border: 10px solid #B497E6;
	border-radius: 30px;
	box-shadow : 5px 5px 5px #A9A9A9;
	margin-left:  100px;
	margin-right: 100px;
	margin-top: 20px;
	line-height: 50px;
 }
 #eventBanner1 li:hover{color:red;}
 
 #eventBanner2
 {
	overflow: hidden;
	height: 100px;
 }
 #eventBanner2 li
 {
	list-style: none;
	display : inline-block;
	text-align: center;
	width: 120px;
	height: 30px;
	background-color: #fffcf0;
	border: 10px solid  #dedcee;
	border-radius: 50px;
	box-shadow : 5px 5px 5px #A9A9A9;
	margin-left:  120px;
	margin-right: 110px;
	margin-top: 20px;
	line-height: 30px;
 }
 #eventBanner2 li:hover{color:red;}
 
 /*********************************************************************************/
 /* log Style                                                                  */
 /*********************************************************************************/
 #login
 {
	/* background-color: rgb(18, 102, 255); */
	width: 160px;
	height: 50px;
/*   float: right;*/
	font-size: 20px;
/*   margin-right : 70px;
	margin-top: 100px;
	margin-right : 70px;
	margin-top: 2em;*/
	padding-left : 50em;

	text-align: center;
	color: rgb(0,0,0);
	display: inline;
 }
 
 /*********************************************************************************/
 /*productBox                                                                  */
 /*********************************************************************************/
 #productCategory li {
	width : 100px;
	height: 10px;
	list-style: none;
	float: left;
 }
 
 .total{
	list-style: none;
	float: left;
	margin: 0;
	width: 30%;
	height: 30%;
	border: 10px solid  #D9E5FF;
	border-style: double;
	/*#D9E5FF*/
 }

 .total img{
	width : 130px;
	height : 130px;
	margin-left: auto;
	margin-right: auto;
	display: block;
 }
 
 .productName{
	font-size : 20px;
	margin : 0;
	text-align: center;
 }
 
 .productPrice{
	font-size : 15px;
	margin : 0;
	text-align: center;
 }
 
	 /*********************************************************************************/
 /*productBox                                                                  */
 /*********************************************************************************/
 #productCategory li {
	width : 100px;
	height: 10px;
	list-style: none;
	float: left;
 }
 
 .total{
	list-style: none;
	float: left;
	margin: 0;
	width: 30%;
	height: 30%;
	border: 10px solid #dedcee;
	border-style: double;
	/*#D9E5FF*/
 }

 .total img{
	width : 150px;
	height : 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	align-content: center;
 }
 
 .total input[type=submit] ,[type=number]{
	width: 40px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	align-content: center;
 }

 .productName{
	font-size : 20px;
	margin : 0;
	text-align: center;
 }
 
 .productPrice{
	font-size : 15px;
	margin : 0;
	text-align: center;
 }
 /*********************************************************************************/
 /* Sidebar                                                                       */
 /*********************************************************************************/
 #sidebar{
	text-align: center;

	/* font-family: '상상토끼 신비는일곱살 Regular'; */
	font-size: 1.5em;
}

#explainbar {
	padding-left : 23em;
}
#explainbar2 p{
	 font-size: 2em;
	 font-family: 'Chivo', sans-serif; 
	/* font-family: 'THE홍차왕자 네모'; */
	font-weight: bold;
	padding-left : 10em;
}
 
 
	/*********************************************************************************/
	/*수현 price.html                                                                 */
	/*********************************************************************************/
 
 /*  <a href="#" class="font_big fint_italic font_bold font_center">전체</a>*/
 
	.font_big {font-size: 2em;}
	.font_center {text-align: center;}
 
	.button{
		 width: 150px;
		 height: 50px;
		 background-color: #6799FF;
		 border: 10px solid#B2CCFF;
		 border-radius: 30px;
		 box-shadow : 5px 5px 5px #A9A9A9;
		 
	}
 
	.button > a{
		 display: block;
	}
 
 /**#priceBanner
	{
		 overflow: hidden;
		 height: 60px;
	}**/
 
 
	#priceBanner li{
		 list-style: none;
		 display : inline-block;
		 text-align: center;
		 width: 150px;
		 height: 50px;
		 background-color: #fffcf0;
		 border: 10px solid #B497E6;
		 border-radius: 30px;
		 box-shadow : 5px 5px 5px #A9A9A9;
		 margin-left:  70px;
		 margin-right: 50px;
		 margin-top: 20px;
		 line-height: 50px;
 
	}
	#priceBanner li:hover{color:red;}
 
 
	/*********************************************************************************/
	/*수현 /*cart_productBox           장바구니 박스                                                                    */
	/*********************************************************************************/
 #emart_cart h1{
	color : red;
	}
	#emart_cart.pro_image {
		 width : 200px;
		 height: 200px;
		 list-style: none;
		 float: left;
		 }
 #GS25_cart h1{
	color : red;
 }
 #sevenEleven_cart h1{
	color : red;
 }
 
 #emart_cart {  text-align:center;  }
 
 #GS25_cart {  text-align:center;  }
 
	#sevenEleven_cart{  text-align:center;  }

	.pro_image {
		 width: 120px; 
		 height: 90px; 
		 overflow: hidden"

	}

	.pro_image img{
		 width: auto; 
		 height: 120px;
	}
 /*********************************************************************************/
	/*수현 search.pug                                                        */
	/*********************************************************************************/
 
 /*#wrapper.img{position: relative;}
 
 #search_question.input{width:1000px}*/
 
 form { 
	
	height: 20px;
	
	list-style: none;
	display : inline-block;
 
	}

	 #search img{
		 width : 35%;
		 height : 20%;
		 float: left;
		 margin-left: auto;
		 margin-right: auto;
		 display: block;
	 }
	 #search input[type=text]{
		 width : 500px;
		 margin-top: 50%;
		 /* margin-top: 100%; */
		 /* margin-left: auto;
		 margin-right: auto;
		 display: block; */
		 display: inline-block;
	 }